/* .aboutDescription p::before {
  content: "";
  font-size: 20px;
  line-height: 1;
  margin-right: 5px;
} */
.aboutContainer {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 100px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}
.about span {
  background: linear-gradient(
    90deg,
    rgba(43, 68, 202, 1) 0%,
    rgba(14, 208, 235, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  margin-top: 30px;
}
.about {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: -6.5%;
}

.about span {
  background: linear-gradient(
    90deg,
    rgba(43, 68, 202, 1) 0%,
    rgba(14, 208, 235, 1) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutDescription p {
  color: rgb(146, 144, 144);
  line-height: 25px;
  font-size: 17px;
  font-weight: 450;
  letter-spacing: 1px;
  padding: 1%;
}

@media screen and (max-width: 900px) {
  .aboutDescription {
    height: auto;
    padding: 20px;
    margin-top: 50px;
  }

  .aboutDescription p {
    font-size: 15px;
    line-height: 1.5;
    padding: 20px;
  }
  .aboutContainer {
    flex-direction: column;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1090px) {
  .aboutContainer {
    padding-right: 0;
  }
  .aboutDescription {
    width: auto;
  }
}

@media screen and (max-width: 897px) {
  .aboutDescription {
    margin-top: 10px !important;
  }
  .aboutContainer {
    width: 100%;
  }
}
